.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}
.header-title {
    color: #FFF;
    text-align: center;
    font-family: "Jost",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


