body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #517FF6 0%, #253663 100%) center center no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Jost';
  src: url("./fonts/Jost-Bold.ttf") format('ttf'),
  url("./fonts/Jost-Light.ttf") format('ttf'),
  url("./fonts/Jost-Medium.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}
